.asset {
  &__container {
    background-color: $tolar-dark;
  }

  &__overview {
    border-bottom: 1px solid $tolar-border;
  }
}

.asset-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  height: 64px;
}

.asset-breadcrumb {
  @include H6;

  color: var(--color-text-default);
  background-color: inherit;

  &__asset {
    font-weight: bold;
  }
}

.asset-options {
  &__button {
    padding: 2px 0 2px 8px;
  }
}
