@import 'connect-hardware/index';

.new-account {
  width: 375px;
  background-color: $tolar-bg;
  // box-shadow: var(--shadow-size-xs) var(--color-shadow-default);
  z-index: 25;
  height: unset;
  overflow: auto;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  @include screen-sm-min {
    position: absolute;
  }

  // .bottom-border-1px {
  //   border-width: 0 0 1px 0;
  // }
}


.new-account-create-form {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 30px;

  &__input-label {
    @include Paragraph;

    color: var(--color-text-alternative);
    align-self: flex-start;
  }

  &__input {
    @include Paragraph;

    height: 54px;
    width: 315.84px;
    border: 1px solid $tolar-border;
    // border-radius: 4px;
    background-color: $tolar-bg;
    color: $tolar-light;
    margin-top: 15px;
    padding: 0 20px;
    transition: border 0.2s ease-in-out;

    &__error {
      border: 1px solid var(--color-error-alternative);
    }

    &::placeholder {
      color: var(--color-text-muted);
      opacity: 1;
    }

    &:focus, &:active {
      border: 1px solid $tolar-action;
    }
  }

  &__error {
    @include H7;

    left: 8px;
    color: var(--color-error-default);
  }

  &__error-amount {
    margin-top: 5px;
  }

  &__buttons {
    margin-top: 22px;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  &__button {
    width: 150px;
    min-width: initial;
  }
}
